/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none; /* Prevent user selection */
    -webkit-user-drag: none; /* Disable drag and drop in Safari */
}

/* Body */
body {
    background-image: linear-gradient(#2A363B ,  #363636, #E84A5F ); /* Background image */
    min-height: 100vh; /* Minimum height of 100% of the viewport */
    display: flex; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
    flex-direction: column; /* Arrange items vertically */
}

/* Header */
header {
    color: whitesmoke; /* Text color */
    height: 20vh; /* Height of header area */
    font-family: 'Bangers', cursive; /* Font type */
    display: flex; /* Align items horizontally */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Align items vertically */
    font-size: 30px; /* Font size */
    text-align: center; /* Center text */
    user-select: none; /* Prevent user selection */
}

@media screen and (max-width: 700px) {
    header {
        font-size: 20px; /* Decrease font size when screen size is reduced */
    }
}

/* Rule Title */
.rule-title {
    font-family: 'Bangers', cursive; /* Font type */
    font-size: 24px; /* Font size */
    font-weight: bold; /* Font weight */
    margin-bottom: 10px; /* Bottom margin */
    color: crimson; /* Text color */
    user-select: none; /* Prevent user selection */
}

/* Rules */
.rules {
    width: 100%; /* Width */
    border-collapse: collapse; /* Collapse border lines */
    color: whitesmoke; /* Text color */
    user-select: none; /* Prevent user selection */
}

/* Rule Number */
.rule-number {
    width: 20px; /* Width */
    text-align: center; /* Center text */
    color: crimson; /* Text color */
    font-weight: bold; /* Font weight */
    user-select: none; /* Prevent user selection */
}

/* Rule */
.rule {
    padding-left: 10px; /* Left padding */
    font-size: large; /* Font size */
}

/* Instructions */
.instructions {
    height: auto; /* Height */
    min-height: 15vh; /* Minimum height */
    display: flex; /* Align items horizontally */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Align items vertically */
    font-size: 30px; /* Font size */
    font-family: 'McLaren', cursive; /* Font type */
    margin: 3vh 0; /* Margin */
    color: whitesmoke; /* Text color */
    user-select: none; /* Prevent user selection */
}

@media screen and (max-width: 700px) {
    .instructions {
        font-size: 20px; /* Decrease font size when screen size is reduced */
    }
}

/* Door Row */
.door-row {
    display: flex; /* Align items horizontally */
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: center; /* Center items horizontally */
    margin-top: 30px; /* Top margin */
}

/* Door Images */
.door-row img {
    width: 100%; /* Width */
    height: auto; /* Height */
    margin: 10px; /* Margin */
}

/* Individual Door */
.door {
    width: calc((100% - 80px) / 3); /* Width */
    max-width: 200px; /* Maximum width */
    height: auto; /* Height */
    margin: 10px; /* Margin */
    cursor: pointer; /* Show cursor as pointer */
    border: 0px solid #000; /* Border thickness and color */
    transition: transform 0.3s ease; /* Transition effect */
}

@media screen and (max-width: 600px) {
    .door {
        width: calc(100% - 20px); /* Width */
        margin: 10px 0; /* Margin */
    }
}

.door:hover {
    transform: scale(1.05); /* Scale up on hover */
}

/* Buttons */
.buttons {
    width: auto; /* Width */
    height: auto; /* Height */
    display: flex; /* Align items horizontally */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Align items vertically */
    align-content: center; /* Center items vertically */
    margin-top: 0.5em; /* Top margin */
}

/* Switch and Win Text */
#switchAndWin {
    color: whitesmoke; /* Text color */
}

/* Result Text */
#switchAndWin p.reslt {
    color: greenyellow; /* Text color */
}

/* No Switch and Win Text */
#NoSwitchAndWin {
    color: whitesmoke; /* Text color */
}

/* Result Text */
#NoSwitchAndWin p.reslt {
    color: greenyellow; /* Text color */
}

/* No Switch and Lose Text */
#NoSwitchAndLose {
    color: whitesmoke; /* Text color */
}

/* Result Text */
#NoSwitchAndLose p.reslt {
    color: crimson; /* Text color */
}

/* Switch and Lose Text */
#switchAndLose {
    color: whitesmoke; /* Text color */
}

/* Result Text */
#switchAndLose p.reslt {
    color: crimson; /* Text color */
}

/* Button Styles */
button {
    padding: 10px 40px; /* Padding */
    background-color: #000; /* Background color */
    border: none; /* Border */
    border-radius: 50px; /* Border radius */
    color: #f5f5f5; /* Text color */
    cursor: pointer; /* Show cursor as pointer */
    margin: 0 20px; /* Margin */
    font-size: 18px; /* Font size */
    outline: none; /* Remove outline */
    box-shadow: 0px 10px 13px -7px #000000, 7px 5px 15px 5px rgba(0, 0, 0, 0); /* Box shadow */
}

button:active {
    transform: scale(0.9); /* Shrink on click */
}

/* Result Paragraphs */
.result p {
    font-size: 22px; /* Font size */
    line-height: 40px; /* Line height */
    text-align: center; /* Center text */
}

.result p:first-child {
    font-family: 'Bangers', cursive; /* Font type */
    letter-spacing: 2px; /* Letter spacing */
    text-transform: uppercase; /* Convert text to uppercase */
    font-size: 40px; /* Font size */
    margin-bottom: 30px; /* Bottom margin */
}

/* Links */
.links {
    width: 100vw; /* Width */
    height: 10vw; /* Height */
    text-align: center; /* Center text */
    margin: 40px 0; /* Margin */
}

/* Result Links */
.result a {
    color: gray; /* Link color */
    background-color: #000; /* Background color */
    text-decoration: none; /* Remove underline */
}

.result a:hover {
    color: #f5f5f5; /* Link color on hover */
}

/* Button Hover Effects */
#btn-1:hover,
#btn-2:hover {
    color: crimson; /* Text color */
}

/* Button Colors */
#btn-1,
#btn-2 {
    color: #f5f5f5; /* Text color */
}

/* Speaker Text */
.spk1,
.spk2 {
    font-size: x-large; /* Font size */
    text-align: center; /* Center text */
}

@media screen and (max-width: 700px) {
    header {
        margin-top: 20px; /* Top margin */
        font-size: 20px; /* Font size */
        text-align: center; /* Center text */
    }

    .spk1,
    .spk2 {
        font-size: large; /* Font size */
    }
}
